html { 
    background-image: url("../images/birds-background.jpg"); 
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    background-size: 50%;
}

body {
    /* background-color: burlywood; */
    /* background-image: url("../images/birds-background.jpg"); */
    color: aliceblue;
    font-size: 20px;
}

h1 {
    font-size: 32px;
    line-height: 40px;
}

h2 {
    font-size: 26px;
    line-height: 32px;
}

p {
    /* font-size: 16px; */
    line-height: 24px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    height: 500px;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
}

#title {
    margin-top: 2%;
}

#start {
    /* margin-top: 20%; */
}

#start button {
    font-size: 24px;
    height: 40px;
    width: 100%;
    margin-top: 70%;
}

#time {
    margin-top: 5%;
}

#question {
    margin: 5% 5% 0% 5%; 
    /* margin-top: 5%; */
    
}

#answers {
    margin-top: 5%;
}

#answers ul li {
    text-align: center;
    /* margin-top: 1%; */
    margin: 2% 0% 2% 0%;
    /* font-size: 20px; */
    line-height: 28px;
    /* padding: 5px; */
    width: 200px;
}

#answers ul li:hover {
    background-color: yellow;
    border: 2px solid darkblue;
    border-radius: 5px;
    color: indigo;
    cursor: pointer;
}